/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/
:root {
  /* primary colors of UN */ 
  --black: rgba(0, 0, 0, 1);
  --cerulean:  rgba(0, 158, 219, 1);
  --mine-shaft: rgba(51, 51, 51, 1);
  --fruit-salad-2:  rgba(73, 162, 92, 0.251); 
  --abbey:  rgba(77, 77, 77, 1);
  --boulder:  rgba(120, 120, 120, 1);
  --gray: rgba(127, 127, 127, 1);
  --mist-gray: rgba(196, 196, 196, 1);
  --bon-jour:  rgba(225, 225, 225, 1);
  --concrete: rgba(242, 242, 242, 1);
  --white: rgba(255, 255, 255, 1);
  /* primary colors of levels */ 
  --level-1: rgba(225, 132, 89, 1);
  --level-2:  rgba(37, 90, 159, 1);
  --level-3:  rgba(73, 162, 92, 1);
  --level-4: rgba(112, 103, 159, 1);
  --level-5: rgba(192, 40, 30, 1);
  --level-6: rgba(195, 127, 175, 1);
  /* font size */ 
  --font-size-xs: 14px;
  --font-size-s: 18px;
  --font-size-m: 20px;
  --font-size-l: 22px;
  --font-size-xl: 25px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 50px;
  /* font family */ 
  --font-family-font_awesome_5_brands-regular: "Font Awesome 5 Brands-Regular";
  --font-family-font_awesome_5_free-solid: "Font Awesome 5 Free-Solid";
  --font-family-roboto: "Roboto";
  --font-family-roboto_condensed: "Roboto Condensed";
  }
 /* font variables */
  .a4 {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  .a3 {
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  .fontawesome5free-solid-normal-gray-30px {
    color: var(--gray);
    font-family: var(--font-family-font_awesome_5_free-solid);
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
  }
  .roboto-normal-gray-25px {
    color: var(--gray);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
  }
  .a2 {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  .a6 {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xxxl);
    font-weight: 900;
    font-style: normal;
    height: 45px;
    letter-spacing: 0;
    margin-left: 6px;
    text-align: center;
    width: 52px;
  }

  .a5 {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
  }
  .h3 {
    color: var(--mine-shaft);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
  }
  .p {
    color: var(--mine-shaft);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Font Awesome 5 Brands-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/FontAwesome5Brands-Regular") format("opentype");
  }
  @font-face {
    font-family: "Font Awesome 5 Free-Solid";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/FontAwesome5Free-Solid") format("opentype");
  }
  @import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500,900|Roboto+Condensed:400,700");
  
/*
=============== 
Global Variables
===============
*/

.wrapper {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2000px;
  overflow: hidden;
  width: 1440px;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
.align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*
=============== 
Footer Variables
===============
*/
.footer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 202px;
  min-height: 363px;
  width: 1464px;
}
.footer-section {
  align-items: flex-start;
  background-color: var(--abbey);
  display: flex;
  flex-direction: column;
  min-height: 305px;
  padding: 59px 51px;
  width: 1440px;
}
.footer-line {
  height: 1px;
  margin-top: 38px;
  width: 1317px;
}
/* footer flex social media */
.footer-flex-1 {
  align-items: center;
  display: flex;
  min-width: 1299px;
}
.footer-flex-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 135px;
  margin-top: 30px;
  min-width: 971px;
}
.un-logo{
  height: 89px;
  object-fit: cover;
  width: 298px;
}
.footer-icon {
  color: var(--white);
  font-family: var(--font-family-font_awesome_5_brands-regular);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  font-style: normal;
  height: 46px;
  letter-spacing: 0;
  margin-left: 45px;
  margin-top: 1px;
  min-width: 40px;
  }
.facebook {
  margin-left: 387px;
}
.donate-button {
  align-items: flex-end;
  background-color: var(--concrete);
  border-radius: 10px;
  display: flex;
  height: 55px;
  justify-content: flex-start;
  margin-left: 22px;
  min-width: 157px;
} 
.donate {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 54px;
  letter-spacing: 0;
  margin-bottom: 0;
  text-align: center;
  width: 157px;
}
.line-8 {
  height: 55px;
  margin-left: 60px;
  width: 1px;
}
/* footer flex info */
.contact {
    height: 21px;
    letter-spacing: 0;
    margin-left: 22px;
    min-width: 81px;
}
  
.faq-1 {
    height: 21px;
    letter-spacing: 0;
    margin-left: 20px;
    min-width: 33px;
}
  
.terms-of-use {
    height: 21px;
    letter-spacing: 0;
    margin-left: 18px;
}
  
.line {
    height: 21px;
    margin-left: 20px;
    width: 3px;
}

.privacy-notice {
  height: 21px;
  letter-spacing: 0;
  margin-left: 16px;
  min-width: 140px;
}
  
.a-z-site-index {
  height: 21px;
  letter-spacing: 0;
  min-width: 124px;
}
  
.copyright {
  height: 21px;
  letter-spacing: 0;
  margin-left: 20px;
  min-width: 98px;
  }
  
.fraud-alert {
  height: 21px;
  letter-spacing: 0;
  margin-left: 16px;
  min-width: 114px;
}
/* end footer flex */
.rectangle-7 {
  background-color: #e1e1e1;
  height: 58px;
  width: 1440px;
}
/* end footer styles */

.overlap-group2 {
  align-self: center;
  height: 53px;
  margin-right: 22px;
  margin-top: 38px;
  position: relative;
  width: 1216px;
}
  
.the-iddrs {
  height: 21px;
  left: 13px;
  letter-spacing: 0;
  position: absolute;
  top: 16px;
  }
  
  .search {
    height: 21px;
    left: 148px;
    letter-spacing: 0;
    position: absolute;
    top: 16px;
  }
  
  .faq {
    height: 21px;
    left: 258px;
    letter-spacing: 0;
    position: absolute;
    top: 16px;
  }
  
  .nav-bar {
    background-color: var(--abbey);
    display: flex;
    height: 53px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1216px;
  }
  
  .line-3 {
    height: 61px;
    margin-left: 100px;
    width: 10px;
  }
  
  .line-15 {
    height: 61px;
    margin-left: 94px;
    width: 10px;
  }
  
  .line-2 {
    height: 61px;
    margin-left: 111px;
    width: 10px;
  }
  
  .line-4 {
    height: 61px;
    margin-left: 84px;
    width: 10px;
  }
  
  .how-to {
    height: 21px;
    left: 342px;
    letter-spacing: 0;
    position: absolute;
    top: 16px;
  }
  
  .iddrs-framework {
    height: 35px;
    letter-spacing: 0;
    margin-left: 99px;
    margin-top: 29px;
    width: 253px;
  }
  
  .frame-container {
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-right: 23px;
    margin-top: 85px;
    min-width: 1215px;
  }
  
  .frame-13-4 {
    align-items: center;
    background-color: var(--level-6);
    display: flex;
    flex-direction: column;
    height: 165px;
    margin-left: 45px;
    overflow: hidden;
    width: 165px;
  }
  
  .level-1-2 {
    letter-spacing: 0;
    margin-left: 0;
    margin-top: 7px;
    min-height: 98px;
    text-align: center;
    width: 165px;
  }
  
  .flex-row {
    align-items: center;
    display: flex;
    margin-left: 8px;
    margin-top: 15px;
    min-width: 111px;
  }
  
  .level {
    letter-spacing: 0;
    margin-top: 9px;
    min-height: 26px;
    min-width: 53px;
    text-align: center;
  }
  
  
  .frame-13-3 {
    align-items: center;
    background-color: var(--level-5); 
    display: flex;
    flex-direction: column;
    height: 165px;
    margin-left: 45px;
    width: 165px;
  }
  
  .level-1 {
    letter-spacing: 0;
    margin-top: 7px;
    min-height: 98px;
    text-align: center;
    width: 165px;
  }
  
  .frame-14 {
    align-items: center;
    background-color: var(--level-1);
    display: flex;
    flex-direction: column;
    height: 165px;
    width: 165px;
  }
  
  .frame-13-2 {
    align-items: center;
    background-color: var(--level-4);
    display: flex;
    flex-direction: column;
    height: 165px;
    margin-left: 45px;
    width: 165px;
  }
  
  .frame-13 {
    align-items: center;
    background-color: var(--level-2);
    display: flex;
    flex-direction: column;
    height: 165px;
    margin-left: 45px;
    width: 165px;
  }
  
  /* hover effect for level 3 */
  .frame-13-1:hover {
    transform: scale(1.1);
  }
  
  .frame-13-1 {
    background-color: var(--level-3);
    cursor: pointer;
    height: 165px;
    margin-left: 45px;
    position: relative;
    transition: all 0.2s ease;
    width: 165px;
  }
  
  .level-1-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 67px;
    width: 165px;
  }
  
  .number-1 {
    height: 45px;
    left: 90px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 52px;
  }
  
  .level-2 {
    left: 31px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 29px;
  }
  
  .line-5 {
    height: 3px;
    margin-left: 99.75px;
    margin-top: 4px;
    width: 66px;
  }
  
  .overlap-group4 {
    height: 53px;
    position: relative;
    width: 1440px;
  }
  
  .place {
    height: 30px;
    left: 1128px;
    letter-spacing: 0;
    position: absolute;
    top: 12px;
    width: 65px;
  }
  
  .login {
    height: 30px;
    left: 1332px;
    letter-spacing: 0;
    position: absolute;
    top: 12px;
    width: 96px;
  }
  
  .rectangle-2 {
    background-color: #009edb;
    height: 6px;
    left: 0;
    position: absolute;
    top: 47px;
    width: 1440px;
  }
  
  .home-logo {
    color: var(--black);
    font-family: var(--font-family-font_awesome_5_free-solid);
    font-size: var(--font-size-m);
    font-weight: 400;
    height: 20px;
    left: 67px;
    letter-spacing: 0;
    position: absolute;
    top: 15px;
    width: 33px;
  }
  
  .rectangle-1 {
    background-color: var(--concrete);
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .contact-us {
    height: 30px;
    left: 1219px;
    letter-spacing: 0;
    position: absolute;
    top: 12px;
    width: 96px;
  }
  
  .welcome-to-the-united-nations {
    height: 21px;
    left: 101px;
    letter-spacing: 0;
    position: absolute;
    top: 16px;
  }
  
  .the-container {
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-right: 23px;
    margin-top: 22px;
    min-width: 1217px;
  }
  
  .p-2 {
    height: 176px;
    letter-spacing: 0;
    width: 564px;
  }
  
  .p-3 {
    height: 160px;
    letter-spacing: 0;
    margin-left: 45px;
    width: 608px;
  }
  
  .line-6 {
    height: 3px;
    margin-left: 99px;
    margin-top: 5px;
    width: 65px;
  }
  
  .search-container {
    align-self: center;
    background-image: url(../assets/IDDRS.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 490px;
    margin-right: 23px;
    margin-top: 19px;
    position: relative;
    width: 1217px;
  }
  
  .placeholder {
    color: var(--gray);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-weight: 400;
    height: 29px;
    left: 278px;
    letter-spacing: 0;
    position: absolute;
    top: 360px;
  }
  
  .search-bar {
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    backdrop-filter: blur(4px) brightness(100%);
    background-color: var(--white);
    border: 3px solid var(--concrete);
    border-radius: 15px;
    height: 40px;
    left: 208px;
    position: absolute;
    top: 350px;
    width: 825px;
  }
  
  .search-icon {
    color: var(--gray);
    font-family: var(--font-family-font_awesome_5_free-solid);
    font-size: 30px;
    font-weight: 400;
    height: 47px;
    left: 213px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 350px;
    width: 54px;
  }
  
  .the-iddrs-1 {
    height: 36px;
    letter-spacing: 0;
    margin-left: 100px;
    margin-top: 57px;
    width: 171px;
  }
  
  .flex-row-1 {
    align-items: center;
    display: flex;
    margin-left: 100px;
    margin-top: 34px;
    min-width: 721px;
  }
  
  .navbar-brand {
    height: 112px;
    margin-bottom: 1px;
    margin-left: 32px;
    position: relative;
    width: 166px;
  }
  
  .line-1-1 {
    height: 75px;
    left: 158px;
    position: absolute;
    top: 14px;
    width: 1px;
  }
  
  .title {
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    height: 112px;
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 166px;
    margin-top: 6px;
  }
  
  .the-integrated-disar {
    color: 
  #787878;
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-weight: 900;
    height: 110px;
    letter-spacing: 0;
    margin-bottom: 3px;
    margin-left: 32px;
    width: 334px;
  }
  
  .un-emblem-1 {
    height: 135px;
    width: 157px;
  }