:root {
    /* primary colors of UN */ 
    --black: rgba(0, 0, 0, 1);
    --cerulean:  rgba(0, 158, 219, 1);
    --mine-shaft: rgba(51, 51, 51, 1);
    --fruit-salad-2:  rgba(73, 162, 92, 0.251); 
    --abbey:  rgba(77, 77, 77, 1);
    --boulder:  rgba(120, 120, 120, 1);
    --gray: rgba(127, 127, 127, 1);
    --mist-gray: rgba(196, 196, 196, 1);
    --bon-jour:  rgba(225, 225, 225, 1);
    --concrete: rgba(242, 242, 242, 1);
    --white: rgba(255, 255, 255, 1);
    /* primary colors of levels */ 
    --level-1: rgba(225, 132, 89, 1);
    --level-2: rgba(37, 90, 159, 1);
    --level-3: rgba(73, 162, 92, 1);
    --level-3-light: rgba(73, 162, 92, 0.251);
    --level-4: rgba(112, 103, 159, 1);
    --level-5: rgba(192, 40, 30, 1);
    --level-6: rgba(195, 127, 175, 1);
}
.fontawesome5free-solid-normal-gray-30px {
    color: var(--gray);
    font-family: var(--font-family-font_awesome_5_free-solid) !important;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}


.overlap-group6 {
    height: 1359px;
    margin-top: 50px;
    margin-bottom: 70px;
    position: relative;
    width: 1464px;
    align-self: center;
  }
  .result-bg {
    background-color: var(--concrete);
    height: 1140px;
    left: 92px;
    position: absolute;
    top: 0;
    width: 1224px;
  }
  .result-title {
    color: var(--mine-shaft);
    font-family: var(--font-family-roboto);
    font-size: 32px;
    font-weight: 700;
    height: 57px;
    left: 123px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 57px;
    width: 364px;
  }
  
  /* view module button  */
  .module-button {
    height: 81px;
    left: 1106px;
    position: absolute;
    top: 86px;
    width: 163px;
  }
  .view-module {
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xs);
    font-weight: 400;
    height: 81px;
    left: 0;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 163px;
  }
  .view-module-button {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 10px;
    height: 56px;
    left: 11px;
    position: absolute;
    top: 13px;
    width: 142px;
  }
  .module-button:hover .view-module {
    color: var(--white);
  }
  .module-button:hover .view-module-button {
    background: var(--black);
  }
  
  .module-sum {
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 400;
    left: 132px;
    letter-spacing: 0;
    line-height: 25px;
    font-style: normal;
    position: relative;
    top: 149px;
    width: 1161px;
  }
  #summary {
    display: none;
  }
  


/* arrow click  */
.arrow {
    color: var(--cerulean);
    font-family: var(--font-family-font_awesome_5_free-solid);
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    align-self: center;
    height: 82px;
    letter-spacing: 0;
    margin-bottom: 2px;
    text-align: center;
    width: 103px;
    position: -webkit-sticky;
  }
  #next {
    margin-left: 39px;
    position: block;
  }
  #prev {
    position: block;
  }

/* carousel  */
.flex-row-2{
    max-width: 900px;
    align-self: center !important;
}

#carousel {
    max-width: 900px;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: inline-flex;
    align-self: center;
    margin: 10px 0px 0px 40px;
}
#content1 {
    display: grid;
    grid-gap: 0;
    grid-auto-flow: row;
    margin: auto;
    box-sizing: border-box;
}
#carousel::-webkit-scrollbar {
    height: 0;
}

/* levels expand  */
.h1 {
    color: var(--level-3) !important;
}
.h6 {
    color: var(--level-3) !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: left;
    margin: 10px;
}
.mf3 {
    display: flex;
    flex-direction: column;
    width: 165px;
    height: 165px;
    margin: 5px 50px 5px 50px;
    border-radius: 0px;
    overflow: hidden;
    background-color: var(--level-3-light);
  }
.mf3:hover {
    background: var(--level-3);
}
.mf3:hover .h1 {
    color: var(--white) !important;
  }
.mf3:hover .h6{
    color: var(--white) !important;
}
/* 6 levels */
.frame-container {
    margin: 0 auto;
}
.frame-box {
    width: 165px;
    height: 165px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    
} 
.frame-box h2 {
    color: #ffffff !important;
}
.frame-box h3 {
    color: #ffffff !important;
}
.frame-box a {
    color: #ffffff !important;
}
.frame-title {
    max-height: 50px;
    align-self: start;
}
.frame-title a {
    font-size: 50px !important;
    align-self: start;
}
.f1 {
    background-color: var(--level-1) ;
}
.f2 {
    background-color: var(--level-2) ;
}
.f3 {
    background-color: var(--level-3) ;
}
.f4 {
    background-color: var(--level-4) ;
}
.f5 {
    background-color: var(--level-5) ;
}
.f6 {
    background-color: var(--level-6) ;
}


/* paragraph */
#para-divide {
    padding-top: 10px;
    -webkit-columns: 40px 2;
    /* Chrome, Safari, Opera */
    -moz-columns: 60px 2;
    /* Firefox */
    columns: 60px 2;
}
/* search container  */
.search-bg {
    position: relative;
} 
/* search form  */
img {
    width: 100%;
}

div#form-box {
    text-align: center;
    margin-top: -75px;
}

div#input-group {
    width: 60%;
    margin: 0 auto 30px;
    position: relative;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}
  
input#email, label[for="email"] {
    display: inline-block;
    vertical-align: center;
    height: 30px;
}
  
input#email {
    width: calc(100% - 60px);
    padding: 10px;
    border: none;
    margin: 5px auto;
}
  
label[for="email"] {
    width: 40px;
    
    line-height: 40px;
}

@media only screen and (max-width: 1200px) {
    div#form-box {
        margin-top: -45px;
        text-align: center;
    }
    input#email, label[for="email"] {
        display: inline-block;
        vertical-align: center;
        height: 20px;
    }
    .glyphicon {
        float: left;
        width: 30px !important;
        margin: -5px 0 0 5px !important;
     }
    
}
@media only screen and (max-width: 992px) {
    div#form-box {
        margin-top: -45px;
        text-align: center;
    }
    input#email, label[for="email"] {
        display: inline-block;
        vertical-align: center;
        height: 20px;
    }
    .glyphicon {
        float: left;
        width: 30px !important;
        margin: -5px 0 0 5px !important;
     }
}
@media only screen and (max-width: 768px) {
    div#form-box {
        margin-top: -45px;
        height: 50px;
        text-align: center;
    }
    input#email, label[for="email"] {
        display: inline-block;
        vertical-align: center;
        height: 20px;
    }
    .glyphicon {
        float: left;
        width: 30px !important;
        margin: -5px 0 0 5px !important;
    }
    
}
  @media only screen and (max-width: 576px) {
    div#form-box {
        margin-top: -35px;
        height: 50px;
        text-align: center;
    }
    input#email, label[for="email"] {
        display: inline-block;
        vertical-align: bottom;
        height: 20px;
    }
    .glyphicon {
       float: left;
       width: 30px !important;
       margin: -5px 0 0 5px !important;
    }
  }