.nav-header-underline {
  background-color: #009edb;
  height: 6px;
  left: 0;
  position: absolute;
  width: 100%;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.btn.dark, .dark .btn, .gray-bg .btn {
  background-color: white;
}